In [36]:
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

In [37]:
df = pd.read_csv(r"C:\Users\eakli\Downloads\task\ecole\paris-trees\data\p2-arbres-fr.csv", delimiter=";")

In [38]:
df.head()

,id,type_emplacement,domanialite,arrondissement,complement_addresse,numero,lieu,id_emplacement,libelle_francais,genre,espece,variete,circonference_cm,hauteur_m,stade_developpement,remarquable,geo_point_2d_a,geo_point_2d_b
0,99874,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,19,Marronnier,Aesculus,hippocastanum,NaN,20,5,NaN,0.0,48.857620,2.320962
1,99875,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,20,If,Taxus,baccata,NaN,65,8,A,NaN,48.857656,2.321031
2,99876,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,21,If,Taxus,baccata,NaN,90,10,A,NaN,48.857705,2.321061
3,99877,Arbre,Jardin,PARIS 7E ARRDT,NaN,NaN,MAIRIE DU 7E 116 RUE DE GRENELLE PARIS 7E,22,Erable,Acer,negundo,NaN,60,8,A,NaN,48.857722,2.321006
4,99878,Arbre,Jardin,PARIS 17E ARRDT,NaN,NaN,PARC CLICHY-BATIGNOLLES-MARTIN LUTHER KING,000G0037,Arbre à miel,Tetradium,daniellii,NaN,38,0,NaN,NaN,48.890435,2.315289

In [66]:
df.columns

Index(['id', 'type_emplacement', 'domanialite', 'arrondissement',
       'complement_addresse', 'numero', 'lieu', 'id_emplacement',
       'libelle_francais', 'genre', 'espece', 'variete', 'circonference_cm',
       'hauteur_m', 'stade_developpement', 'remarquable', 'geo_point_2d_a',
       'geo_point_2d_b'],
      dtype='object')

In [39]:
#find the shape of the dataframe
df.shape

(200137, 18)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200137 entries, 0 to 200136
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   200137 non-null  int64
 1   type_emplacement     200137 non-null  object
 2   domanialite          200136 non-null  object
 3   arrondissement       200137 non-null  object
 4   complement_addresse  30902 non-null   object
 5   numero               0 non-null       float64
 6   lieu                 200137 non-null  object
 7   id_emplacement       200137 non-null  object
 8   libelle_francais     198640 non-null  object
 9   genre                200121 non-null  object
 10  espece               198385 non-null  object
 11  variete              36777 non-null   object
 12  circonference_cm     200137 non-null  int64
 13  hauteur_m            200137 non-null  int64
 14  stade_developpement  132932 non-null  object
 15  remarquable          137039 non-null  float64
 16  geo_point_2d_a       200137 non-null  float64
 17  geo_point_2d_b       200137 non-null  float64
dtypes: float64(4), int64(3), object(11)
memory usage: 27.5+ MB

In [83]:
#find missing values
df.isnull().sum() / len(df) * 100

id                       0.000000
type_emplacement         0.000000
domanialite              0.000500
arrondissement           0.000000
complement_addresse     84.559577
numero                 100.000000
lieu                     0.000000
id_emplacement           0.000000
libelle_francais         0.747988
genre                    0.007995
espece                   0.875400
variete                 81.624088
circonference_cm         0.000000
hauteur_m                0.000000
stade_developpement     33.579498
remarquable             31.527404
geo_point_2d_a           0.000000
geo_point_2d_b           0.000000
dtype: float64

In [42]:
#check for duplicates duplicates 
duplicates = df.duplicated() 
duplicate_rows =df[duplicates] 
len(duplicate_rows) #no duplicate rows was detected # df_no_redundancy = df.drop_duplicates()

0

In [43]:
print("The number of unique arrondissement in Paris:", df.arrondissement.nunique())

The number of unique arrondissement in Paris: 25

In [44]:
print("The name of the unique arrondissement in Paris are: ", df.arrondissement.unique())

The name of the unique arrondissement in Paris are:  ['PARIS 7E ARRDT' 'PARIS 17E ARRDT' 'PARIS 16E ARRDT' 'PARIS 4E ARRDT'
 'PARIS 13E ARRDT' 'PARIS 12E ARRDT' 'PARIS 19E ARRDT' 'PARIS 14E ARRDT'
 'PARIS 15E ARRDT' 'PARIS 3E ARRDT' 'PARIS 20E ARRDT' 'PARIS 18E ARRDT'
 'PARIS 6E ARRDT' 'PARIS 11E ARRDT' 'PARIS 1ER ARRDT' 'PARIS 2E ARRDT'
 'PARIS 5E ARRDT' 'VAL-DE-MARNE' 'SEINE-SAINT-DENIS' 'HAUTS-DE-SEINE'
 'PARIS 9E ARRDT' 'PARIS 10E ARRDT' 'PARIS 8E ARRDT' 'BOIS DE BOULOGNE'
 'BOIS DE VINCENNES']

In [61]:
# # Create the choropleth map
# fig = px.scatter_mapbox(df, 
#                         lat="geo_point_2d_a", 
#                         lon="geo_point_2d_b", 
#                         hover_name="libelle_francais",
#                         hover_data=["arrondissement"],
#                         color="arrondissement",  # Set marker color
#                         zoom=10,  # Adjust the initial zoom level
#                         mapbox_style="open-street-map")  # Use OpenStreetMap as the map background

# # Update layout
# fig.update_layout(title="Trees in Paris",
#                   margin=dict(l=0, r=0, t=50, b=0))

# # Show the plot
# fig.show()

In [60]:
df.domanialite.value_counts(normalize=True).round(2) * 100

domanialite
Alignement      52.0
Jardin          23.0
CIMETIERE       16.0
DASCO            3.0
PERIPHERIQUE     3.0
DJS              2.0
DFPE             1.0
DAC              0.0
DASES            0.0
Name: proportion, dtype: float64

In [65]:
df.groupby("domanialite")["arrondissement"].value_counts(normalize=True).round(2) * 100

domanialite   arrondissement
Alignement    PARIS 13E ARRDT    10.0
              PARIS 16E ARRDT    10.0
              PARIS 15E ARRDT     8.0
              PARIS 12E ARRDT     7.0
              PARIS 19E ARRDT     7.0
                                 ...
PERIPHERIQUE  PARIS 19E ARRDT     9.0
              PARIS 13E ARRDT     7.0
              PARIS 17E ARRDT     5.0
              PARIS 15E ARRDT     5.0
              PARIS 14E ARRDT     2.0
Name: proportion, Length: 126, dtype: float64

In [77]:
df.espece.value_counts().head()

espece
x hispanica      36409
hippocastanum    20039
japonica         11822
n. sp.            9063
tomentosa         8962
Name: count, dtype: int64

In [78]:
df.variete.value_counts().head()

variete
Baumannii'      4538
Briotii'        2827
Euchlora'       2756
Chanticleer'    2595
Fastigiata'     2483
Name: count, dtype: int64

In [85]:
df.libelle_francais.nunique()

192